---
layout: default
---

<section class="posts">
<h3>Own Notes</h3>
<ul>
{% for post in site.posts %}
<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time></li>
{% endfor %}
</ul>
<h3>External Links</h3>
<ul>
{% for link in site.links %}
<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a><time datetime="{{ link.date | date_to_xmlschema }}">{{ link.date | date: "%m-%d-%Y" }}</time></li>
{% endfor %}
</ul>
</section>

